*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgba(36, 36, 36);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: black;
  color: white;
}

img {
  max-width: 100%;
}

.container {
  max-width: 500px;
}

.progress-bar-container {
  width: 70%;
  position: relative;
}

.progress-bar {
  background: white;
  animation: progress-bar 60s infinite;
  height: 4px;
  position: absolute;
  border-radius: 0.3em;
  z-index: 4;
}

.progress-bar-bg {
  width: 100%;
  height: 4px;
  position: absolute;
  background: grey;
  border-radius: 0.3em;
  z-index: 1;
}

#artistName,
#songName {
  text-transform: capitalize;
}
