*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("./font/Lato/Lato-Regular.ttf") format(truetype);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: black;
  font-family: "Lato", sans-serif;
  color: white;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.album-cover {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

button {
  font: inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
}

button img {
  width: 30px;
  height: auto;
  padding: 0.3em;
  pointer-events: none;
}

.container {
  max-width: 300px;
  width: 100%;
  display: flex;
  border-radius: 0.4em;
  position: relative;
  z-index: 3;
  flex-direction: column;
  gap: 1.5em;
  padding: 1em;
  align-items: center;
  background: rgba(25, 27, 40);
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.progress-bar-container {
  width: 100%;
  position: relative;
  height: 4px;
}

.progress-bar {
  background: white;
  height: inherit;
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 0.3em;
  z-index: 4;
  transition: 0.1s ease;
}

.progress-bar::after {
  content: "";
  display: none;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 20;
  left: 100%;
  background: white;
  border-radius: 50%;
}

.progress-bar-container:hover .progress-bar::after {
  display: block;
}

.progress-bar-container:hover {
  .progress-bar {
    background-color: rgb(16, 125, 172);
  }
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.progress-bar-bg {
  width: 100%;
  height: 4px;
  position: absolute;
  background: grey;
  border-radius: 0.3em;
  z-index: 1;
}

.time-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#artistName,
#songName {
  text-transform: capitalize;
}

img {
  max-width: 100%;
}

#audioControls {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.queue-wrapper {
  background-color: white;
  display: flex;
  position: absolute;

  flex-direction: column;
  gap: 1em;
  text-transform: capitalize;
  color: black;
  min-width: 200px;
  padding-inline-start: 1em;
}

.queue-wrapper span {
  cursor: pointer;
}
.queueContainer {
  position: relative;
  width: 100%;
}

.queue-wrapper:not(.close) {
  z-index: 3;
}

.queue-wrapper.close {
  z-index: 1;
}

.audio-string {
  width: 5px;
  background-color: white;
  border-radius: 0.4em;
  transition: height 0.2s ease-in-out;
}

.string-container {
  height: 50px;
  display: flex;
  align-items: end;

  gap: 0.3em;
}

.mid-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  width: 100%;
}
